@import "tailwindcss";

:root {
  background-color: #e7e7e7;

  color-scheme: light dark;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

body {
  display: grid;
  min-height: 100vh;
  place-content: center;
}
